/.phpunit.cache
/vendor
.env
docker-compose.yml
.bowerrc
.env.production
.phpunit.result.cache
auth.json
/.fleet
/.idea
/.vscode
/coverage
/db
/runtime/logs/*
/runtime/debug/*
/runtime/cache/*
/cache/*
/bower_components/*
/node_modules/*
